
@{
	ViewBag.Title = "Index";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
		<h1>Spotify Web Controler</h1>
		<p>This page controles my spotify client</p>
		<p><span style="color:dimgrey;"><em>Uses JonnyCrazy's Spotify API</em></span></p>
		<br />
		<p>Current Track: @ViewBag.song</p>
		<input type="button" value="Skip" onclick="location.href='@Url.Action("Skip", "Home")'"
    </div>
</body>
</html>